body{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #d4cfd3;
}
.nav-bar{
  height: 50vh;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/461755/pexels-photo-461755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  border: 0;
}
.nav-bar h1{
  margin: 0;
  padding: 0;
  border: 0;
}

/* styling of the results section */
.country{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;

}
/* input styling */
input{
  padding: 15px 30px;
  border-radius: 5px solid #223343;
   border: none;
   font-size: 1em;
   font-weight: normal;
}
input:focus{
  box-shadow: 5px solid blue;
}


/* styy;ing of the footer section */
.footer{
  margin: 0;
  padding: 0;
  border: 0;

  text-align: center;
  
}